.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('penguin2.jpg');
    background-size: cover;
    position: relative;
}

.loginInfor {
    background-color: transparent;
    border: 2px solid #000;
    width: 42rem;
    border-radius: 10px;
    backdrop-filter: blur(60px);
    position: absolute;
    z-index: 1001;
}

.loginInfor h2 {
    font-size: 3rem;
    text-align: center;
    color: #000;
}

.error-message {
    margin-left: 2.3rem;
    color: red;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: -0.5rem;
}

.inputLogIn {
    width: 80%;
    height: 4rem;
    padding: 1rem 0rem;
    position: relative;
    margin-left: 5%;
    margin-right: 15%;
}

.inputLogIn input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border: 2px solid;
    border-radius: 40px;
    color: #000;
    font-size: 1.5rem;
    outline: none;
    padding-left: 1.2rem;
    padding-right: 2.4rem;
}

.inputLogIn input::placeholder {
    color: #000;
}

.loginIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -3rem;
}

.LogInRF {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LogInRF label {
    font-size: 1.1rem;
    margin-left: 2rem;
    color: #000;
}

.LogInRF a {
    font-size: 1.1rem;
    margin-right: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.loginInfor button {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    height: 4rem;
    border-radius: 40px;
    border: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.LogInRegister {
    text-align: center;
}

.LogInRegister p {
    font-size: 1.1rem;
    font-weight: 500;
}

.LogInRegister p a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

